:root {
    --primary-color: rgb(245, 247, 248);
    --primary-color-opacity: rgba(17, 17, 17, 0.9);
    --primary-color-opacity-less: rgba(7, 7, 7, 0.85);
    --secondary-color: #353333;
    --accent-color: #f3f6fd;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --fontfamily-2: Bellefair, serif;
    --font-family: Bellefair, serif;
}

.homepage-business-name {
    font-size: 37px;
    font-family: 'Bellefair', serif;
    color: rgb(151, 149, 149);
}
.homepage-opener {
    font-size: 55px;
width: 68%;
    text-align: center;
}
.typewriter {
  overflow: hidden !important ;  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange !important ; /* The typwriter cursor */
  white-space:nowrap !important ; /* Keeps the content on a single line */
  margin: 0 auto !important ; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em !important ; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end) !important;
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.introduction-message{
  text-align: center;
  line-height: 60px !important;
  font-family: 'Bellefair',serif;
  margin: 100px 0px auto;
  padding: 100px 350px;
  background:rgba(7, 7, 7,0.4);
  color: rgb(226, 223, 223);
  width: 100%;
  display: block;
  box-shadow: var(--box-shadow);
  
  font-size: 80px
}


iframe {
    display: block;
    margin: 0 auto;
}
a:hover {
   color: #D6AF28 !important;
}

.navbar{
    background-color: black;
    font-family: var(--font-family);
    font-size: 1.2vw;
    
}
.navbar-brand {
    color: grey;
    font-family:Arial, Helvetica, sans-serif;
}
.nav-link {
    color: rgb(172, 169, 169) !important;
    padding: 0.5rem 1.1rem !important;
    
}
#navbarNavAltMarkup {
    color: grey;
}
/*this is the styling for the text on the About Us page*/
.about-us-paragraph {
    background: rgba(7,7,7,0.1);
    color: white !important;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0px;
    font-family: 'Bellefair', serif;
    font-size: 24px;
}
.about-us-image {
    border-radius: 1em;
}

.watch-us-in-action {
    display: inline;
    margin: 0;
    padding: 0;
    color: white;
}
/* this controls the styling for the text below each of the services*/
.chair-covers-etc {
    font-family: "Bellefair", serif;
    color: rgb(226, 223, 223);
    background: rgba(7,7,7,0.1);
    text-align: center;
    padding-bottom: 10px;
}
body {
    background-size: cover;
    
}
/*this is centering quite a few headings*/
h4 {
    text-align: center;
}

.header {
    color: var(--accent-color);
    font-size: 1.6vw;
    font-style: italic;
    font-family: var(--font-family);
}

.page-title {
    font-family: 'Didact Gothic', sans-serif;
    background: none;
    font-size: 3vw;
    margin: 0 auto;
    margin-top: 10vw !important;
    border: none;
    display: block;
}
/* this .tile class controls opacity over the services circular icons on the main Services screen*/
.tile {
   opacity: 0.7;
    padding: 0px;
}
/*this highlights the tile when hovered*/
.tile:hover {
 opacity: 0.99;
}
/*this css is geared to the social media icons on the Contact Us page, and when hovered*/
.icon-tile {
   opacity: 0.85;
    padding: 0px;
    margin: 0px 10px 30px 0px;

}
/*this highlights the tile when hovered*/
.icon-tile:hover {
 opacity: 0.99;
}
.same-line {
    display: inline-block;
}
/*testimonials page specific css*/
.testimonials {
    margin: 0px 170px;
    background: none;
    color: rgb(226, 223, 223);
    display: block;
   
    text-align: center;
    padding: 50px 0px;
    font-family: 'Bellefair', serif;

}
.reviews {
    letter-spacing: 1.3px;
    font-size: 18px;
}
.contact-text-spacing {
    letter-spacing: 0.8px;
}
.FAQ-question {
    font-size: 28px;
    padding: 0% 10%;
}
.FAQ-answer {
    font-size: 24px;
    padding: 0% 10%;
}
.about-text {
    font-size: 24px;
    margin: 0px 170px;
    background: none;
    color: var(--accent-color);
    display: block;
   
    text-align: center;
    padding: 50px 0px;
    font-family: 'Bellefair', serif;

}
.about-us-paragraph-only {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    color:rgb(226, 223, 223);
    letter-spacing: 0.8px;

}
.about-us-opener {
    font-size: 28px;
    border-bottom: 1px solid rgb(247, 243, 243, 0.4);
    
}
.fa-facebook {
  background: #3B5998;
  color: white;
  
}
.email-link{
    text-decoration: none;
    color: white;
}

.review-btn {
    font-family: Helvetica;
    display: inline-block;
    border-bottom: 1px;
    border-radius: 0.2em;
    margin: 0 auto;
    font-size:larger;
    background: #3B5998;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 20px !important;
    
    color: white;
}
.review-btn:hover{
    box-shadow: 0px 0px 18px 0px rgb(187, 183, 183);
    color: white !important;
}


 

a {
    color: var(--accent-color);
}
a:hover {
    color: cyan;
}
a:visited {
    color: var(--accent-color);
}
i {
    padding-top: 0.3vw;
    
}
/*the following applies to terms&conditions*/
.t-c {
    text-align: left;
    font-size: 24px;
    letter-spacing: 0.8px;
}




/* the following code applies to the sub-tab for the service section*/
.services-bar {
    text-align: center;
    color: rgb(196, 196, 196);
    text-decoration: none;
    opacity: 80%;
    padding: 0px 18px;
    font-family: 'Bellefair', serif;
    font-size: 16px;
    display: inline-block;
    
}
.services-bar:hover {
    color: white;
}
.services-bar:visited {
    color: rgb(196,196,196)
}
/* the following code applies to the SELECTED sub-tab for the service section*/
.selected-service {
    border-bottom: 1px;
    border-radius: 0.5em;
    margin-bottom: 2px;
    font-size:larger;
    box-shadow: 0px 0px 18px 0px rgb(187, 183, 183);
    background: none;
}
.services-a-z {
    padding-top: 15px;
    color: rgb(252, 247, 247, 0.6);
    text-align: center;
    font-family: Bellefair, serif;
    font-size: 26px;
    margin: 0% 15% 10% 15%;
    line-height: 38px;
   
}
.a-z-title {
 font-size: 30px;
    border-bottom: 1px solid rgb(247, 243, 243, 0.4);
    color:rgb(226, 223, 223);
    text-decoration: none !important;
}
.a-z-spacing {
    padding: 20px;
    color: white !important;
    line-height: 50px;
    white-space: nowrap;
    
    
}
.a-z-spacing:visited {
    color: rgb(196,196,196)
}
.inventory-items-link-styling {
    text-decoration: none; 
    color: rgb(226, 223, 223);
    border: 1px solid rgb(247, 243, 243, 0.7);
    padding: 10px;
    
}
.inventory-items-link-styling:hover {
    font-size: 28px;
}
@media (max-width: 576px) {
.a-z-title {
 font-size: 25px;
}
    .promo-video {
         width: 410px;
         height: 320px;
    }
   
    .nav-link {
        font-size: 15px;
    }
    .chair-covers-etc {
        font-size: 0.9rem;
        margin-bottom: none;
        padding-bottom: none;
    }
    .review-btn {
        width: 90%;
        font-size: 15px !important;
        
        
    }
    .fa-facebook {
        font-size: 15px;
    }
    .testimonials {
        margin: 30px;
        margin-top: 0px;
        padding-top: 10px;
    }
    .FAQ-question {
    font-size: 23px;
    padding: none;
}
.FAQ-answer {
    font-size: 18px;
    padding: none;
}
    .about-text {
        font-size: 18px;
        margin: 30px;
        margin-top: 0px;
        padding-top: 10px;
    }
    .icon-tile {
        max-width: 70px;
        margin: 10px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .in-full {
        font-size: 25px;
        margin: 22px;
    }
    .sub-social {
        opacity: 0.4;
        font-size: small;
    }

    .main-body {
        margin: 0 auto;
        width: 90%;
        display: block;
    }
   
    .page-title {
        font-size: 40px;
        width: 90%;
    }
    .tab-headings{
        width: 90%;
    }
    .header {
        font-size: 20px;
    }
    #emma {
        max-width: 290px;
        display: block;
        margin: 0 auto;
        
        padding: 7px;
        margin-bottom: 50px;
    }
    .homepage-business-name {
    font-size: 20px;
    color: rgb(151, 149, 149);
}
.services-bar {
    text-align: center;
    color: rgb(196, 196, 196);
    text-decoration: none;
    opacity: 80%;
    padding: 0px 30px;
    font-family: 'Bellefair', serif;
    font-size: 16px;
    display: block;
    
}
.service-title {
    font-size: 13px;
    text-align: center;
}
.services-a-z {
    padding-top: 15px;
    color: rgb(252, 247, 247, 0.6);
    text-align: center;
    font-family: Bellefair, serif;
    font-size: 20px;
    margin: 0% 5% 20% 5%;
    line-height: 35px;
}
.a-z-spacing {
    padding:  5px;
    
}
.chair-covers-etc {
    font-size: 16px;
    padding: 0px 5px;
}


.about-us-paragraph {
    font-size: 17px;
}
.about-us-paragraph-only {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;

}
.about-us-opener {
    font-size: 20px;
    border-bottom: 1px solid rgb(247, 243, 243, 0.4);
    
}
.homepage-opener {
    font-size: 32px;
    text-align: center;
    width: 100%;
    padding: 0px;
}
    .introduction-message {
        padding: 0px;
        display: block;
        margin: 0px;
        font-size: 12px;
        margin-top: 140px;
        line-height: 10px;
        text-align: center;
    }
    
    .business-logo {
        width:250px;
    }
    .get-in-touch{
        padding: 10px;
    }
    .t-c {
        font-size: 18px;
    }
    
    i {
        font-size: 40px;
        color: var(--accent-color);
    }
    .project-title {
        font-size: 25px;
        padding-top: 20px;
        font-weight: bold;
    }
    .paragraphs {
        font-size: 15px;
    }
    .primary-link {
        display: block;
        max-width: 200px;
        border: 1px solid var(--accent-color);
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 10px;
        text-align: center;
        font-style: italic;
        font-family: var(--font-family);
    }
    .img-fluid {
        margin-top: 10px;
    }
    .my-projects {
        font-size: 30px;
        margin-bottom: 20px;

    }
    .icons {
    margin: 10px;
    font-size: 50px;
    color: var(--accent-color);
    
    }
    a {
        color: var--(--accent-color);
        cursor: pointer;
    }
    a{
    color: var(--accent-color);
    }
    .tech-icon {
        width:50px;
    }
    footer {
        font-size: 0.8em;
        margin-right: 2px;
        padding-right: 0.8em;
    }
    
}
footer {
color: rgb(255, 255, 255, 0.4);
font-family: Bellefair, serif;
text-align: right;
padding-right: 1em;
padding-left: 1em; 
padding-bottom: 0.5em;
background:rgba(0, 0, 0, 0.3);
position: fixed;
z-index: 100;
bottom: 0;
left:0;
width: 100%;
}
